* {
    margin: 0;
}

.editIcon {
    float: right;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-top: 20px;
}

.profileImage {
    width: 190px;
    height: 190px;
    background-color: #F7F7F7;
    border-radius: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.editProfileImage{
    width: 96px;
    height: 96px;
    background-color: #F7F7F7;
    border-radius: 200px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid #707070;
}

.editProfileImageText{
    font-size: 15px;
    color: #3D3E3C;
}

.editProfileImageDiv{
    text-align-last: center;
}

.profileImageDiv {
    width: 210px;
    height: 210px;
    background-color: #8CCA73;
    border-radius: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.profileImageContainer {
    background-color: rgba(140, 202, 115, 0.5);
    height: 260px;
    border-top: solid #8CCA73;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.userName {
    color: #344B2A;
    text-align: center;
}

.userInfo {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.row {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 3%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.10);
}

.titleInfo {
    font-size: 12px;
    color: #969696;
}

.descriptionInfo {
    font-size: 18px;
    color: #3C3C3D;
}

.editInfoDivInvisible {
    background-color: #F7F7F7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 1000px;
    transition: 1s;
}


/* .editInfoDivInvisible:hover {
    top: 100px;
    transition: 1s;
} */

.editInfoDivVisible {
    background-color: #F7F7F7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    transition: 1s;
    overflow-y: scroll;
    max-height: 100%;
}

.editInfoInputDiv {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.saveInfo {
    background-color: transparent;
    color: #8CCA73;
    font-size: 18px;
    text-decoration: underline;
    border: none;
    float: right;
}

.cancelInfo{
    background-color: transparent;
    color: #8CCA73;
    font-size: 18px;
    text-decoration: underline;
    border: none;
}

.cancelSaveInfoDiv{
    width: 80%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.editTitles {
    font-size: 18px;
    margin-top: 10px;
    color: #707070;
    font-weight: 300;
}

.editInputs {
    width: 100%;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #A3A3A3;
    background-color: #F7F7F7;
}