* {
    margin: 0;
}

.editIcon {
    float: right;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-top: 20px;
}

.profileImage {
    width: 190px;
    height: 190px;
    background-color: #F7F7F7;
    border-radius: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.editProfileImage {
    width: 96px;
    height: 96px;
    background-color: #F7F7F7;
    border-radius: 200px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid #707070;
}

.editProfileImageText {
    font-size: 15px;
    color: #344B2A;
    text-decoration: underline;
    text-align: center;
    margin-top: 10px;
}

.editProfileImageDiv {
    text-align-last: center;
}

.profileImageDiv {
    width: 210px;
    height: 210px;
    background-color: #8CCA73;
    border-radius: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.profileImageContainer {
    background-color: rgba(140, 202, 115, 0.5);
    height: 260px;
    border-top: solid #8CCA73;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.userName {
    color: #344B2A;
    text-align: center;
}

.userInfo {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.row {
    padding: 10px;
    background-color: white;
    border-radius:10px;
    margin-bottom: 3%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.10);
}

.titleInfo {
    font-size: 12px;
    color: #969696;
}

.descriptionInfo {
    font-size: 18px;
    color: #3C3C3D;
    border: none;
    resize: none;
}

.editInfoDivInvisible {
    background-color: #F7F7F7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 1000px;
    transition: 1s;
}

.editInfoDivVisible {
    background-color: #F7F7F7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    transition: 1s;
    overflow-y: scroll;
    max-height: 100%;
}

.editInfoInputDiv {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.cancelSaveInfoDiv {
    width: 80%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.saveInfo {
    width: 100px;
    height: 25px;
    background-color: #8CCA73;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    border: none;
    float: right;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.10);
}

.cancelInfo {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    background-color: #8CCA73;
    color: white;
    font-size: 13px;
    border: none;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.10);
}

.editTitles {
    font-size: 18px;
    margin-top: 10px;
    color: #707070;
    font-weight: 300;
}

.editInputs {
    width: 100%;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #A3A3A3;
    background-color: #F7F7F7;
}

.errorMessage{
    display: none;
    color: red;
    font-size: 12px;
}

.infoIcon{
    margin: -3px;
    margin-left: 2px;
}

.infoDivPopup{
    position: fixed;
    width: 80%;
    margin-left: 7%;
    top: 30%;
    margin-right: 7%;
    padding: 10px;
    box-shadow: inset 0 0 3px #000000;
    display: none;
    background-color: white;
    border-radius: 10px;
}

.darkBackground{
    position: fixed;
    background-color: #000000AA;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
}