.row>table {
    width: 100%;
    border-collapse: collapse;
}

.gerechtenLijst {
    font-size: 12px;
}

.search {
    width: 100%;
}

.searchBar {
    width: 85%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 1px solid rgb(103, 156, 83);
}

.line {
    margin-top: 50px;
    border-bottom: solid 2px black;
    margin-left: 7%;
    margin-right: 7%;
    padding: 10px;
}

.tableDiv {
    margin-top: 20px;
    width: 85%;
    margin-left: 7%;
    margin-right: 7%;
    font-size: 24px;
}

.addFoodBtn {
    width: 30px;
    height: 30px;
    transform: translateY(8.5px);
}

.addFoodDiv {
    height: 100px;
    width: 85%;
    position: fixed;
    margin: 5% auto;
    left: 0;
    right: 0;
    border: 2px dotted black;
    background-color: white;
    display: none;
    top: 150px;
}

.closeAddFood {
    /* position: fixed; */
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 24px;
    float: right;
}

.addFoodBar {
    width: 70%;
    height: 30px;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid rgb(103, 156, 83);
}

.addFoodText {
    margin-left: 10px;
}

.confirmAdd {
    background-color: #8CCA73;
    border: none;
    border-radius: 5px;
    height: 30px;
    box-shadow: 0 3px rgb(103, 156, 83);
}

.confirmAdd:active {
    transform: translateY(3px);
    box-shadow: 0 0;
}

.editFoodDivUp {
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 100;
    margin: 0;
    left: 0;
    position: fixed;
    border-top: 2px solid gray;
    background-color: #F7F7F7;
    overflow-y: scroll;
    max-height: 100%;
    transition: 1s;
}

.editFoodDivDown {
    width: 100%;
    height: 100%;
    top: 30px;
    z-index: 100;
    margin: 0;
    left: 0;
    position: fixed;
    background-color: #F7F7F7;
    overflow-y: scroll;
    max-height: 100%;
    transition: 1s;
    top: 1000px;
}

.inputDiv {
    height: 75px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.editTitle {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: #3D3E3C;
    margin-top: 40px;
}

.label {
    font-size: 16px;
    color: #969696;
}

.noteLabel {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 11px;
    color: #707070;
}

.inputHealthy,
.inputTasty {
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 3%;
    width: 100%;
    height: 63px;
}

.inputDiv,
.inputHealthy,
.inputTasty {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.10);
}

.gerechtInput {
    font-size: 24px;
}

.editInput {
    border: none;
    margin: 0;
    padding: 0;
    height: 70%;
    width: 90%;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

.cancelSaveDiv {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.saveEdit {
    float: right;
}

.saveEdit,
.cancelEdit {
    width: 100px;
    height: 24px;
    background-color: #8CCA73;
    border-radius: 5px;
    font-size: 13px;
    color: white;
}

.tastyHealthyTable {
    width: 80%;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}

.numberScale,
.numberScale:focus {
    width: 50%;
    font-size: 27px;
    text-align: right;
    border: none;
    max-height: 33px;
    -moz-appearance: textfield;
}

.numberScale::-webkit-outer-spin-button,
.numberScale::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.editDateInput::-webkit-inner-spin-button,
.editDateInput::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.maxNumberLabel {
    font-size: 27px;
}

.editDateInput {
    background-color: white;
    -webkit-appearance: none;
}