* {
    padding: 0;
    margin: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #F7F7F7;
}

.greenTop {
    position: relative;
    transition: 1s;
    top: 0;
    border: solid 1px #8CCA73;
    margin-bottom: 300px;
}

.greenTopGone {
    position: relative;
    top: -500px;
    transition: 1s;
}

.square {
    width: 102%;
    left: -2px;
    height: 225px;
    background-color: #8CCA73;
    position: absolute;
}

.circle {
    width: 125%;
    height: 200px;
    background-color: #8CCA73;
    border-radius: 50%;
    left: -12.5%;
    top: 70px;
    position: absolute;
    transition: 1s;
}

.circleGone {
    width: 125%;
    height: 200px;
    background-color: #8CCA73;
    left: -12.5%;
    top: 100px;
    position: absolute;
    transition: 1s;
}

.dinnerTableDiv {
    width: 228px;
    position: absolute;
    left: 50%;
    margin-left: -114px;
    top: 20px;
    text-align: center;
    font-weight: bold;
    transition: 1s;
}

.dinnerTableDivGone {
    width: 228px;
    position: absolute;
    left: 50%;
    margin-left: -114px;
    top: 20px;
    text-align: center;
    font-weight: bold;
    transition: 1s;
    opacity: 0%;
}

.dinnerText {
    font-size: 32px;
    color: white;
}

.tableText {
    font-size: 32px;
    color: #3D3E3C;
}

.inlogPaginaDiv,
.registreerPaginaDiv {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}

.inloggen,
.registeren {
    background-color: #8CCA73;
    color: white;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.10);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    height: 25px;
    width: 100px;
    margin-top: 20px;
}

#registreerButton,
#inlogButton,
#changeLbl {
    background-color: transparent;
    color: #8CCA73;
    text-decoration: underline;
    font-size: 12px;
    outline: none;
    border: none;
}

.contentDiv {
    margin-top: 200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.inputDiv {
    height: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.10);
}

.inputDiv>input {
    font-size: 16px;
}

.inputIcon {
    height: 20px;
    width: 20px;
    float: left;
}

.inputField {
    border: none;
    outline: none;
    height: 20px;
    float: left;
    margin-left: 10px;
}
.accountSwitch{
    margin-top: 40px;
    margin-bottom: 15px;
}