.top-bit {
    background-color: #D6E5D0;
    height: 40px;
    width: 100%;
    margin-bottom: 30px;
}
.title {
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    padding: 7px;
}

.pieChartDiv{
    width: 90%;
    height: 240px;
    background: white;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 2px #aaaaaa;
}
#pieChartContainer{
    height: 220px;
    width: 60%;
    float: right;
}
.pieLegenda{                    /* table */
    /* display: inline; */
    list-style: none;
    
    padding-top: 35px;
    padding-left: 40px;
}
.pieLegendaRow{
    height: 30px;
}
.kleurenKeuken{                 /*div in td*/
    height: 25px;
    width: 30px;
    border-radius: 5px;
}
.keukenList{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    padding-left: 10px;
}


.barChartDiv{
    width: 90%;
    height: 220px;
    background: white;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 2px #aaaaaa;
}
#barChartContainer{
    height: 200px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.lineChartDiv{
    width: 90%;
    height: 240px;
    background: white;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 2px #aaaaaa;
}
#lineChartContainer{
    height: 220px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}