text{
    font-family: Arial;
    font-size: 14px;
    font-weight: lighter;
    pointer-events: none;
    color: #3C3C3D;
}
#chart{
    width: 80%;
    height: auto;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#labelDiv{
    text-align: center;
    margin-top: 10px;
}
#label{
    color: #3C3C3D;
    font-size: 20px;
    font-family: Arial;
    margin-left: auto;
    margin-right: auto;
}
#plusButton, #minButton, #changeSlots, #annulerenBtn{
    width: auto;
    height: auto;
    color: #3C3C3D;
    text-decoration: underline;
    text-decoration-color: #8CCA73;
    border: none;
    background: none;

    font-size: 20px;
    font-family: Arial;
    margin-left: auto;
    margin-right: auto;
}
input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #8CCA73;
    margin-left: 1%;

    font-size: 20px;
    font-family: Arial;
}
#show{
    height: 50px;
    width: 50px;
    position: relative;
    right: 10px;
    float: right;
    top: 25px;
    z-index: -2;
}
.editDiv{
    width: 80%;
    height: 100px;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 9%;
}