text{
    font-family: Arial;
    font-size: 14px;
    font-weight: lighter;
    pointer-events: none;
    color: #3C3C3D;
}
#chart{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#label{
    color: #3C3C3D;
    font-size: 20px;
    font-family: Arial;
}
#plusButton, #minButton, #changeSlots, #annulerenBtn{
    width: auto;
    height: auto;
    color: #3C3C3D;
    text-decoration: underline;
    text-decoration-color: #8CCA73;
    border: none;
    background: none;
    display: inline;

    font-size: 20px;
    font-family: Arial;
    margin-left: auto;
    margin-right: auto;
}
input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #8CCA73;
    margin-left: 1%;
    border-radius: 5px;

    font-size: 20px;
    font-family: Arial;
}
#show{
    height: 30px;
    width: 30px;
    position: relative;
    left: 20px;
    float: left;
    top: 60px;
}
.editDiv{
    width: 80%;
    height: 100%;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 5%;
}
.wheelDiv{
    margin-top: -8%;
}
#etenVraag{
    margin-top: 80px;
    color: #3C3C3D;
    font-size: 18px;
}
.fortuneDiv{
    margin-top: 80px;
}
#clickWheel{
    z-index: -5;
    color: #3C3C3D;
    font-size: 15px;
    font-family: Arial;

    margin-left: auto;
    margin-right: auto;

    border: 1px solid #DDECD7;
    background-color: #DDECD7;
    border-radius: 15px;
    padding: 5px;
}