body {
    background-color: #F7F7F7;
}

td:not(.gerechten) {
    border-bottom: 1px solid black;
    width: 100%;
}

th {
    border-bottom: 3px solid black;
}

table:not(.suggestiesTable) {
    width: 100%;
}

button {
    outline: none;
}

.buttonDiv {
    margin-bottom: 20px;
    width: 112%;
    padding-left: 0;
    margin-left: 0;
    left: 0;
    position: fixed;
    top: 0;
}

.button,
.buttonActive {
    width: 48%;
    height: 30px;
    background-color: #8CCA73;
    border: none;
    margin: -2px;
}

.buttonActive {
    box-shadow: 0 3px rgb(103, 156, 83);
}

.button {
    box-shadow: 0 3px #8CCA73;
}

.search {
    width: 100%;
}

.searchBar {
    width: 85%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: none;
}

.searchBtn {
    height: 30px;
    width: 18%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px #8CCA73;
}

.searchIcon {
    width: 50px;
    height: 50px;
    background-color: transparent;
    object-fit: scale-down;
}

.line {
    margin-top: 50px;
    border-bottom: solid 2px black;
    margin-left: 7%;
    margin-right: 7%;
    padding: 10px;
}

.tableDiv {
    margin-top: 20px;
    width: 85%;
    margin-left: 7%;
    margin-right: 7%;
    font-size: 24px;
}

.suggesties {
    padding-top: 20px;
}

.suggestiesTable {
    width: 100%;
}

.addFoodBtn {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #8CCA73;
    float: right;
    box-shadow: 0 3px rgb(103, 156, 83);
    font-size: 30px;
}

.addFoodBtn:active {
    transform: translateY(3px);
    box-shadow: 0 0px rgb(103, 156, 83);
}

.addFoodDiv {
    height: 100px;
    width: 80%;
    position: fixed;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px dotted black;
    background-color: white;
    display: none;
}

.closeAddFood{
    /* position: fixed; */
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 24px;
    float: right;
}