.fifthOne, .fifthTwo, .fifthThree, .fifthFour, .fifthFive{
    width: 44%;
    height: 150px;
    overflow: hidden;

    font-family: Arial;
    font-size: 6px;
    font-weight: normal;

    margin-top: 1%;
    text-align: center;

    /* border: 1px solid black; */
}
.fifthOne, .fifthThree{
    float: left;
    margin-left: 2%;
    margin-right: 1%;
}
.fifthTwo, .fifthFour{
    float: right;
    margin-right: 2%;
    margin-left: 1%;
}
.fifthFive{
    margin-left: auto;
    margin-right: auto;   
}
.imgContainer{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.image{
    border: 2px solid #8CCA73;
    border-radius: 3px;
    width: 90%;
    display: flex;
    
}
.voorstelText{
    font-family: Arial;
    font-size: 14px;
    text-decoration-color: #3C3C3D;
}