<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.example.dinnertable">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/dinnertable_icon"
                 android:roundIcon="@mipmap/dinnertable_icon_round"
                 android:statusBarColor="@color/greenColor"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning"
                 android:fullBackupContent="true">
        <activity android:name=".LoginActivity"
                  android:windowSoftInputMode="adjustPan"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".AccountActivity"
                  android:windowSoftInputMode="adjustPan"
                  android:screenOrientation="portrait"/>
        <activity android:name=".StatsActivity"
                  android:windowSoftInputMode="adjustPan"
                  android:screenOrientation="portrait"/>
        <activity android:name=".SettingsActivity"
                  android:windowSoftInputMode="adjustPan"
                  android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
                  android:windowSoftInputMode="adjustPan"
                  android:screenOrientation="portrait"/>
    </application>
</manifest>
