text{
    font-family: Arial;
    font-size: 20px;
    pointer-events: none;
}
#chart{
    /*position: absolute;*/
    width: 80%;
    height: auto;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#labelDiv{
    text-align: center;
    margin-top: 10px;
}
#label{
    color: #3C3C3D;
    font-size: 20px;
    font-family: Arial;
    margin-left: auto;
    margin-right: auto;
}
#plusButton, #minButton, #changeSlots, #annulerenBtn{
    width: 140px;
    height: auto;
    border-radius: 5px;
    color: #3C3C3D;
    background-color: #8CCA73;
    border-color: #3C3C3D;

    font-size: 20px;
    font-family: Arial;
    margin-left: auto;
    margin-right: auto;
}
#show{
    height: 50px;
    width: 50px;
    position: fixed;
    right: 10px;
    top: 10px;
}
.editDiv{
    width: 80%;
    height: 100px;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}